<h4>Post details:</h4>
</br>
<p>
    <u><%= @row['ptitle'] %></u>
  </br>
    <%= @row['ptext'] %>
  </br>
    Added at <%= @row['pdate'] %>
</p>
<h4>Comments:</h4>
<p>
<% @comments.each do |comment| %>
  <b><%= comment['ctext'] %></b>
  <i>Added at <%= comment['cdate'] %></i>
</br>
<% end %>
</br>
</p>
<p>
  <form action ="/details<%= @row['id'] %>" method="POST" role="form">

  <!--  <input name="title"  type="title" class="form-control" placeholder="email"></input>
      </br>
  -->
      <textarea name="ctext" class="form-control" rows="3" placeholder="Post comment"></textarea>
      </br>

      <button type="submit" class="btn btn-info">Add comment</button>
      </br>

  </form>
</p>
