<ol><h3>Post details:</h3></ol>
  <p>
      <u>Title</u>: <%= @row['ptitle'] %>
      </br>
      <p><%= @row['ptext'] %></p>
      Added at <%= @row['pdate'] %>
  </p>
</br>

<ol><h4>Post comments:</h4></ol>
<p>
<% @comments.each do |comment| %>
  <b><%= comment['ctext'] %></b>
</br>
  <i>Added at <%= comment['cdate'] %></i>
<hr>
<% end %>
</br>
</p>
<p>
  <h4>Type your comment:</h4>
  <form action ="/details<%= @row['id'] %>" method="POST" role="form">

  <!--  <input name="title"  type="title" class="form-control" placeholder="email"></input>
      </br>
  -->
      <textarea name="ctext" class="form-control" rows="3" placeholder="Comment text"></textarea>
      </br>

      <button type="submit" class="btn btn-info">Add comment</button>
      </br>

  </form>
</p>
